primary-color = lightblue;

html,
body
  margin: 0
  padding: 0
  border: 0 solid #ffffff
  height: 100%

body
  font-size 14px
  font-family "Open Sans", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif

a
  color: primary-color

h4, .h4, h5, .h5, h6, .h6
  margin-top 9px
  margin-bottom 9px

